edge-tts~=6.1
faster-whisper>=1.0,<1.1
gTTS~=2.5
numpy>=1.23,<2.0
pyautogui>=0.9.54
pynput>=1.7.6
pyttsx3>=2.90
pywin32>=306; platform_system == "Windows"
sounddevice>=0.4.6,<0.5
torch>=2.0
torchaudio>=2.0
vosk>=0.3.45
